  <div class="general-settings">
    
    <div class="d-flex justify-content-center p-3" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <main *ngIf="!loading">
      <div class="general-settings__header">
        <svg xmlns="http://www.w3.org/2000/svg" (click)="closeAccountSettings()" className="h-5 w-5" viewBox="0 0 20 20"
          fill="currentColor" data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      <div class="general-settings__information p-2">
        <img src="{{user.photoUrl}}" class="user-chip" height="100px">
        <div class="information">
          <span>
            <strong>{{user.name}}</strong>
            <small>@ {{ userId }} 
              <span (click)="copyMessage()" style="float: right;  margin: auto 10px; text-decoration: underline; cursor: pointer;">Copy</span>
            </small> 
          </span>
        </div>
      </div>
      <div class="bio p-2">

        <form #accountForm="ngForm">
          <div class="form-wrapper gap-2">
            <div class="form-floating mb-3">
              <input [(ngModel)]="user.displayName" name="displayName" #displayName="ngModel" type="text"
                (ngModelChange)="changesSaved = true" class="form-control" id="floatingPassword4" placeholder="Name"
                required>
              <label for="floatingPassword4">Display name (ex: J. Dela Cruz)</label>
              <label for="floatingPassword4" *ngIf="displayName.errors?.required" class="message__error">Display name is
                required</label>
            </div>

            <div class="form-floating mb-3">
              <input [(ngModel)]="user.email" name="email" #email="ngModel" type="text"
                (ngModelChange)="changesSaved = true" class="form-control" id="floatingPassword" placeholder="Name"
                required>
              <label for="floatingPassword">Email</label>
              <label for="floatingPassword" *ngIf="email.errors?.required" class="message__error">Email name is
                required</label>
            </div>
          </div>
        </form>

        <div class="change-password__container p-2 mb-3">
          <small><strong>Change password</strong></small>
          <p>
            You can change your password if you want.
          </p>
          <!-- (click)="changePassword()" -->
          <button class="btn btn__secondary-1" data-toggle="modal" data-target="#changePasswordModal" >Change password</button>
        </div>
        <div class="action-container" (click)="saveAccountChanges()">
          <button class="btn btn__primary" *ngIf="changesSaved">Save changes</button>
        </div>
      </div>
    </main>
  </div>


  <!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content m-auto">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">New password</p>
          <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
            data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
            <path fillRule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clipRule="evenodd" />
          </svg>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input [(ngModel)]="oldPassword" type="password" class="form-control" id="floatingPassword3" placeholder="name@example.com" required>
          <label for="floatingPassword3">Current password</label>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="password" #password1="ngModel" minlength="6" type="password" class="form-control" id="floatingPassword1" placeholder="name@example.com" required>
          <label for="floatingPassword1" *ngIf="!password1.errors?.minlength">Password</label>
          <label *ngIf="password != '' && password1.errors?.minlength">6 characters are expected</label>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="floatingPassword2" placeholder="name@example.com" required>
          <label for="floatingPassword2" *ngIf="password === '' || password === confirmPassword">Confirm password</label>
          <label for="floatingPassword2" class="message__error" *ngIf="password != confirmPassword ">Password does not match</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="changePassword()" class="btn btn__primary w-100" [disabled]="message === 'Success!' || password === '' && confirmPassword === '' || oldPassword === '' || password != confirmPassword">{{ message }}</button>
      </div>
    </div>
  </div>
</div>