  <!-- <div class="header">
  <img src="{{user.photoUrl}}" class="user-chip" height="100px">
  <div class="information">
    <span>
      <strong>{{user.name}}</strong>
      <p>({{user.displayName}})</p>
    </span>
    <small>{{user.studentId}}</small>
  </div>
  </div> -->
  <div class="general-settings">
    <div class="general-settings__header">
      General
      <!-- <span>
        <strong>{{user.name}}</strong>
        <p>({{user.displayName}})</p>
      </span>
      <small>{{user.studentId}}</small> -->
    </div>
    <div class="general-settings__information">
      <img src="{{user.photoUrl}}" class="user-chip" height="100px">
      <div class="information">
        <span>
          <strong>{{user.name}}</strong>
          <small>{{user.studentId}}</small>
        </span>
      </div>
    </div>
  </div>