<div class="d-flex justify-content-center p-3" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="document" *ngIf="!loading">
  <!-- DOCUMENT NAVIGATION HEADER -->
  <div class="head-navigation d-flex justify-content-between" *ngIf="!loading">
    <div class="d-flex flex-row">
      <p (click)="closeRepository()" class="back">Projects</p>
      <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clipRule="evenodd" />
      </svg>
      <p class="title" data-toggle="modal" data-target="#successMessageModal">{{workItem.title}}</p>
    </div>
    <div class="action-section d-flex flex-row">
      <div class="dropdown" *ngIf="workItem.status != 'Published'">
        <svg xmlns="http://www.w3.org/2000/svg" id="userDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"
          className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
        </svg>
        <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
          <li *ngIf="workItem.status === 'Evaluated'"><a class="dropdown-item" data-toggle="modal" data-target="#projectSettingsModal">Publish</a></li>
          <li *ngIf="workItem.status != 'Evaluated'"><a class="dropdown-item" data-toggle="modal" data-target="#projectSettingsModal">Project settings</a></li>
          <li><a class="dropdown-item" (click)="deleteDocument()">Delete project</a></li>
        </ul>
      </div>
    </div>
  </div>

  <main>
    <div class="divider">
      <div class="NgxEditor__Wrapper border-0">
        <ngx-editor-menu *ngIf="edit" [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor class="small" [editor]="editor" [(ngModel)]="workItem.metaData" (keyup)="autoSaveDelay()" [disabled]="!edit"
          [placeholder]="'Type here'"></ngx-editor>
      </div>
    </div>

    <div class="divider__right">
      <section>
        <div *ngIf="workItem.status !== 'Returned'"
          [ngClass]="{'ongoing': workItem.status === 'Ongoing', 'completed': workItem.status === 'Completed', 'returned': workItem.status === 'Returned', 'published': workItem.status === 'Published'}">
          {{workItem.status}}
        </div>
      </section>
      <section>
        <strong>Contributors</strong>
        <div class="member-list" *ngFor="let member of contributors">
          <img class="icon" src="{{ member.photoUrl }}" alt="User">
          <p>{{ member.name }}</p>
          <svg *ngIf="workItem.status != 'Published'" (click)="removeContributor(member.uid)" class="float-right" xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" height="20px">  
            <path fillRule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clipRule="evenodd" />
          </svg>
        </div>
        <button *ngIf="workItem.status != 'Published'" class="btn btn__secondary-1 w-100 mt-2" data-toggle="modal" data-target="#addUserModal">Add</button>
      </section>
      <section class="border-0" *ngIf="workItem.status != 'Published'">
        <div class="btn btn__secondary w-100" *ngIf="!edit" (click)="edit = true;">
          <span>Edit document</span>
        </div>
        <div class="btn btn__secondary w-100" *ngIf="edit" (click)="edit = false;">
          Save
        </div>
        <div class="btn btn__primary w-100 mt-2" *ngIf="!edit" data-toggle="modal" data-target="#requestValidationModal">
          Request validation
        </div>
      </section>
    </div>
  </main>
</div>

<!-- ADDING USER MODAL -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Adding contributor</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      
      <div class="modal-body">
        <div class="search-container">
          <svg class="text-secondary" xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20"
            fill="currentColor">
            <path fillRule="evenodd"
              d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z"
              clipRule="evenodd" />
          </svg>
          <input type="text" [(ngModel)]="nameQuery" placeholder="Enter Student ID" (keyup.enter)="searchForUser()">
        </div>

        <div class="user-card" *ngFor="let user of queryResultHolder">
          <img src="{{ user.photoUrl }}">
          <div class="d-flex justify-content-between w-100" *ngIf="queryResultHolder.length > 0 && nameQuery !== ''"
            (click)="selectUser(user.uid)">
            <!-- <small>{{ user.uid }}</small> -->
            <strong>{{ user.name }}</strong>
            <svg *ngIf="selected !== ''" xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20"
              fill="currentColor">
              <path fillRule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clipRule="evenodd" />
            </svg>
          </div>
        </div>
        <div class="d-flex justify-content-center p-3" *ngIf="processing() && userExist()">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </div>

        <div class="not-found" *ngIf="queryResultHolder.length === 0 && nameQuery !== '' && !userExist()">
          User not found
        </div>

      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="w-100">
          <button type="button" class="btn btn__primary" data-dismiss="modal" [disabled]="selected === ''"
            (click)="addContributorToProject()">Add</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="document">
  <div class="head-navigation d-flex justify-content-between" *ngIf="!loading">
    <div class="d-flex flex-row">
      <p (click)="closeRepository()" class="back">Projects</p>
      <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fillRule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clipRule="evenodd" />
      </svg>
      <p class="title" data-toggle="modal" data-target="#successMessageModal">{{workItem.title}}</p>
    </div>
    <div class="action-section d-flex flex-row">
      <div class="dropdown">
        <svg xmlns="http://www.w3.org/2000/svg" id="userDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"
          className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
        </svg>
        <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
          <li><a class="dropdown-item" data-toggle="modal" data-target="#requestValidationModal">Request validation</a>
          </li>
          <li><a class="dropdown-item" data-toggle="modal" data-target="#projectSettingsModal">Settings</a></li>
          <li><a class="dropdown-item" data-toggle="modal" data-target="#addUserModal">Add member</a></li>
          <li><a class="dropdown-item" (click)="deleteDocument()">Delete project</a></li>
        </ul>
      </div>
    </div>
  </div>
  <main>
    <div class="d-flex justify-content-center p-3" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div class="wrapper" *ngIf="!loading">
      <div class="NgxEditor__Wrapper border-0" style="overflow: hidden;">
        <div class="p-3 px-0 pt-0">
          <span *ngIf="workItem.status !== 'Returned'"
            [ngClass]="{'ongoing': workItem.status === 'Ongoing', 'completed': workItem.status === 'Completed', 'returned': workItem.status === 'Returned'}">
            {{workItem.status}}
          </span>
          <div style="float: right;">
            <div class="btn btn__secondary-1" *ngIf="!edit" (click)="edit = true;">
              Edit
            </div>
            <div class="btn btn__secondary-1" *ngIf="edit" (click)="edit = false;">
              Save
            </div>
          </div>
        </div>
        <span *ngIf="workItem.status === 'Returned'" class="returned" data-toggle="modal" data-target="#addUserModal">
          {{workItem.status}}
        </span>
        <ngx-editor [editor]="editor" [(ngModel)]="workItem.metaData" (keyup)="autoSaveDelay()" [disabled]="!edit"
          [placeholder]="''"></ngx-editor>
        <ngx-editor-menu *ngIf="edit" [editor]="editor" [toolbar]="toolbar" style="overflow: scroll;"></ngx-editor-menu>
      </div>
    </div>
  </main>
</div> -->

<!-- ADDING USER MODAL -->
<!-- <div class="modal fade bd-example-modal-sm" id="addUserModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Contributors</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      <div class="modal-body">
        <div class="search-container">
          <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fillRule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clipRule="evenodd" />
          </svg>
          <input type="text" [(ngModel)]="nameQuery" placeholder="Search by name" (keyup)="getMembers()">
        </div>
        <main>
          (click)="selectUser(user.uid)"  [ngClass]="{'selected': user.uid === selected}" *ngFor="let user of usersList"
          <div class="user-list w-100 mb-0 my-2" *ngFor="let user of membersList">
            <div>
              <span>{{membersList}}</span>
            </div>
            <div class="check">
              <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fillRule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clipRule="evenodd" />
              </svg>
            </div>
          </div>
        </main>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn__primary" (click)="addSelected()">Add</button>
      </div>
    </div>
  </div>
</div> -->


<!-- SETTINGS -->
<div class="modal fade" id="projectSettingsModal" tabindex="-1" role="dialog" aria-labelledby="projectSettingsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Project setings</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      <div class="modal-body">
        <div *ngIf="workItem.status != 'Evaluated'" class="form-floating mb-2">
          <input [(ngModel)]="workItem.title" (keyup)="autoSaveDelay()" name="email" #email="ngModel" type="text"
            class="form-control" id="floatingTitle" placeholder="Type your title here" required>
          <label *ngIf="!hasError(email)"  for="floatingTitle">Project Title</label>
          <label *ngIf="hasError(email)" class="message__error" for="floatingTitle">Title is
            required</label>
        </div>
        <div *ngIf="workItem.status === 'Evaluated'" class="form-floating mb-2">
          <input [(ngModel)]="publishDocument.keyword" name="keyword" #keyword="ngModel" type="text"
            class="form-control" id="floatingTitle" placeholder="Type your title here" required>
          <label *ngIf="!hasError(keyword)"  for="floatingTitle">Keyword</label>
          <label *ngIf="hasError(keyword)" class="message__error" for="floatingTitle">Keyword is
            required</label>
        </div>
        <div class="form-floating">
          <textarea [disabled]="publishDocument.keyword === ''" class="form-control" *ngIf="workItem.status === 'Evaluated'" [(ngModel)]="publishDocument.abstract" name="abstract" #abstract="ngModel" placeholder="Leave a comment here" id="floatingTextarea" required></textarea>
          <label for="floatingTextarea" *ngIf="workItem.status === 'Evaluated'">Abstract</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="workItem.status === 'Evaluated'" class="btn btn__primary" (click)="publish()" data-dismiss="modal" [disabled]="publishDocument.abstract === ''">Publish</button>
        <button *ngIf="workItem.status != 'Evaluated'" type="button" class="btn btn__primary" (click)="saveUpdateToDatabase()" data-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<!-- REQUEST VALIDATION -->
<div class="modal fade bd-example-modal-sm" id="requestValidationModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Request validation</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      <div class="modal-body">
        <main>
          <form #validationForm="ngForm">
            <div class="form-floating mb-2">
              <select [(ngModel)]="requestValidation.validator" name="validator" #validator="ngModel"
                class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Select a validator</option>
                <option value="1">Research Instructor A</option>
                <option value="2">Research Instructor B</option>
                <option value="3">Research Instructor c</option>
              </select>
              <label for="floatingSelect">College</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" [(ngModel)]="requestValidation.message" name="mesage" #message="ngModel"
                class="form-control" id="floatingPassword" placeholder="Name" required>
              <label for="floatingPassword" *ngIf="!hasError(message)">Request message</label>
              <label for="floatingPassword" class="message__error"
                *ngIf="message.errors?.required && hasError(message)">Request message is required</label>
            </div>
          </form>
        </main>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn__primary" [disabled]="!validationForm.valid"
          (click)="createValidationRequest()" data-dismiss="modal" aria-label="Close" data-toggle="modal"
          data-target="#successMessageModal">Send request</button>
      </div>
    </div>
  </div>
</div>

<!--
  SUCCESS MODAL
-->
<div class="modal fade bd-example-modal" id="successMessageModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content d-flex justify-content-center m-auto" id="successModal">
      <!-- <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Request validation</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div> -->
      <div class="modal-body">
        <main class="d-flex flex-column justify-content-center">
          <div class="success-modal">
            <img style="display: flex; margin: auto;" alt="Succes-icon" src="../../../../assets/images/icons/1103-confetti-outline.gif"
              height="100px">
          </div>
          <p class="p-1 text-center heavy" style="margin: auto 0;">Request was successfuly sent.</p>
        </main>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a data-dismiss="modal" aria-label="Close" class="btn btn__primary">Go back</a>
      </div>
    </div>
  </div>
</div>