$primary: #131C71;
$primary-light: #ecedf825;
$primary-1: #ecedf865;

$black: #000000;
$black-1: #222222;

$bg-color: #F1F3F4;
$header-bg: #F1F3F4;

$border-color: rgb(233, 233, 233);

$gray: rgb(230, 230, 230);