* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {

  &__outer {
    background-color: $bg-color;
    height: 100vh;
    overflow: hidden;
  }

  &__inner {
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}