* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  
  &__inner, &__outer {
    height: 100%;
  }
}