.explore-document {
  background-color: $bg-color;
  height: 100vh;

  main {
    height: 67%;
  }

  @media screen and (max-width: 900px) {
    main {
      height: 75%;
    }
  }

  header {
    background-color: white;
    border-bottom: 1px solid $bg-color;
  }


  .navigation-header>* {
    font-size: 0.8rem;
    margin: auto 0;
  }

  .navigation-header {
    display: flex;
    flex-direction: row;
    background-color: white;

    svg {
      height: 20px;
    }

    .title {
      max-width: 50vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .back {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title-section > * {
    cursor: default;
  }

  .title-section {
    margin-top: 15px;
    background-color: white;
  }

  main,
  main>* {
    background-color: $bg-color;
    padding: 10px;
  }

  main {
    overflow: auto;
  }

  .author {
    margin: auto 0px;
    margin-right: 8px;

    img {
      margin-right: 5px;
      height: 20px;
    }
  }

  .evaluated-card>* {
    margin: auto;
  }

  .evaluated-card {
    border-left: 1px solid $border-color;
    padding: 0px 5px;
    display: flex;

    p {
      margin-left: 5px;
    }
  }

  .author>* {
    margin: auto 0;
  }
}

.border-r {
  border-right: 1px solid $border-color;
  padding-right: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 900px) {
  .title-section {
    display: none;
  }
}
