.explore {
  height: auto;
  display: flex;
  flex-direction: column;
  height: 92vh;

  .item-drawer {
    overflow: auto;
  }
}

@media screen and (max-width: 900px) {
  .explore {
    height: 82vh;
  }
}