.login {
    height: 100vh;
    background-color: white;
    
    button {
        width: 100%;
    }
    
    .divider {
        display: flex;
        flex-direction: row;
        height: 100%;
        float: left;
        
        &__left {
            width: 60%;
            background-color: $bg-color;
        }
        
        &__right {
            width: 40%;
        }
        
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        form {
            width: 80%;
            padding: 8px;
        }
        
        .banner {
            
            span {
                color: $primary;
            }
            
            h3 {
                font-weight: 500;
            }
            
            p {
                font-size: 0.8rem;
            }
        }
        
        
    }
    
    @media screen and (max-width: 900px) {
        .divider {
            flex-direction: column;
            width: 100%;
            
            &__left {
                display: none;
            }
            
            &__right {
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            
            
            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            
            form {
                width: 95%;
            }
        }
    }
}
