.login {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
  width: 100vw;

  .container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      width: 80%;
      padding: 15px;
      
      .banner {
        text-align: left;
      }
    }
  }
  
  .banner {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    span {
      color: $primary;
    }
    
    p {
      font-size: 0.82rem;
    }
    
  }
  
  // MEDIA QUERIES
  @media screen and (max-width: 1100px) {
    .left {
      display: none;
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1100px) {
  .login {
    display: flex;
    grid-template-columns: 100%;
    
    .container {
      padding: 8px;
    
      form {
        width: 90%;
        margin: auto;
        padding: 5px;
      }
    }
  }
}

.left {
    background-color: $bg-color;
}