.main {
  display: grid;
  scroll-behavior: smooth;
  
  &__inner {
    display: block;
    width: calc(100%-50px);
    height: 92vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  @media screen and (max-width: 999px) {
    .main {
        flex-direction: column;
        width: 100vw;
        scroll-behavior: smooth;
        
      &__inner {
        width: 100vw;
        height: 85vh;
        scroll-behavior: smooth;
      }
    }
  }
}