.main {
  display: grid;
  
  
  &__inner {
    display: block;
    width: calc(100%-50px);
    height: 92vh;
    overflow-y: auto;
  }

  @media screen and (max-width: 999px) {
    .main {
        flex-direction: column;
        width: 100vw;
      &__inner {
        width: 100vw;
      }
    }
  }
}