.your-works {
  display: flex;
  width: calc(100%-50px);
  flex-direction: column;

  .works-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    button {
      padding: 8px 20px;
      font-size: 0.80rem;
    }
  }

  .works-header>* {
    margin: auto 0;
  }

  .works-container {
    background-color: white;
    border-radius: 4px;
    padding: 8px 0px;
    // box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);

    .list {
      padding: 2px 15px;
      display: grid;
      grid-template-columns: 40% 30% 10% 10% 10%;
      font-size: 0.75rem;
      border-bottom: 1px solid whitesmoke;

      &__status {
        display: flex;
        justify-content: right;
      }


    }

    .list-header {
      font-weight: 600;
      color: $black-1;
      padding-bottom: 8px;
      font-size: 0.65rem;
    }

    .list-items {
      font-size: 0.855rem;
      padding: 10px 15px;

      &:hover {
        cursor: default;
        background-color: $primary-light;
      }

      div {
        font-size: 0.755rem;
      }

      .title-container {
        span {
          font-size: 0.70rem;
        }
      }

      .title-container>* {
        font-size: 0.855rem;
      }



      &__title {
        font-weight: 600;
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      &__status {
        display: flex;
        justify-content: right;

        svg {
          display: none;
        }
      }
    }

    .list-items>div {
      display: flex;
      margin: auto 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .works-container {
      background-color: transparent;
      padding: 0px;

      .list {
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px 0;
        background-color: white;
        border: 1px solid white;

        &:hover {
          background-color: white;
        }
      }

      .list-items {
        .members {
          display: none;
        }

        &__status {
          display: flex;
          justify-content: left;

          svg {
            height: 15px;
            margin: auto 0;
            display: flex;
          }

          span {
            margin: auto 0px;
            font-size: 0.70rem;
          }
        }

        &__title {
          width: 100%;
        }

        .title-container {
          border-bottom: 1px solid whitesmoke;
          padding: 8px 0px;
          margin-bottom: 8px;
        }
      }

      .list-header {
        display: none;
      }
    }
  }
}