.sidenav {
  height: 100vh;
  background-color: whitesmoke;
  border-right: 1px solid $border-color;
  min-width: 7%;
  z-index: 1;

  .banner {
    display: flex;
    height: 56px;

    img {
      height: 28px;
      margin: auto;
    }
  }

  nav {

    .nav-items {
      font-size: 0.83rem;
      color: #B1B1B1;

      &:active,
      .active {
        color: $primary;
        // background-color: #0d4b9c21;

        label {
          color: $primary;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        outline: none;
        padding: 15px;
        align-items: center;

        svg {
          margin: auto;
          height: 24px;
        }

        label {
          color: #B1B1B1;
          font-size: 0.755rem;
          display: none;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {

  .sidenav {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid $border-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
    nav {
      height: auto;
      display: flex;
      flex-direction: row;
      width: 95%;
      margin: auto;
      justify-content: space-evenly;
      gap: 30px;
      
      .nav-items {
        margin: 5px;
        
        .active {
          background-color: $bg-color;
          border-radius: 50%;
        }
        
      }
      
      label {
        display: flex;
      }
      
      .logo {
        display: none;
      }
      
    }
  }
}