.sidenav {
  height: 100vh;
  background-color: white;
  border-right: 1px solid $border-color;

  .banner {
    display: flex;
    height: 57px;

    svg {
      margin: auto;
    }
  }

  nav {
    .logo {}

    .nav-items {
      font-size: 0.83rem;
      color: $black-1;

      &:active,
      .active {
        color: $primary;
        background-color: #0d4b9c21;
      }

      div {
        display: flex;
        outline: none;
        padding: 15px;

        svg {
          margin: auto;
          height: 24px;
        }
      }
    }
  }


  @media screen and (max-width: 1000px) {

    nav {
      position: absolute;
      z-index: 1;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(3, calc(100% / 3));
      width: 100%;
      bottom: 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-top: 0.05rem solid $border-color;

      .logo {
        display: none;
      }
    }

  }
}
