.sidenav {
  height: 100vh;
  background-color: white;
  border-right: 1px solid $border-color;

  .banner {
    display: flex;
    height: 57px;

    svg {
      margin: auto;
    }
  }

  nav {
    .nav-items {
      font-size: 0.83rem;
      color: $black-1;

      &:active,
      .active {
        color: $primary;
        background-color: #0d4b9c21;
      }

      div {
        display: flex;
        outline: none;
        padding: 15px;

        svg {
          margin: auto;
          height: 24px;
        }
      }
    }
  }
}