<div class="cards p-3 mb-3" (click)="openDocument()">
  <div class="head mb-2">{{researchItem.type}}</div>
  <div class="title">{{researchItem.title}}</div>
  <div class="keywords">
    <strong>Keywords:</strong>
    {{researchItem.keywords}}
  </div>
  <div class="abstract mt-2 mb-3">
    <strong>Abstract</strong><br>
    {{researchItem.abstract}}
  </div>
  <div class="authors d-flex justify-content-between">
    <div>{{author}}</div>
    <div class="date">{{researchItem.published}}</div>
  </div>
</div>
