<div class="card p-3 mb-3" (click)="openDocument()">
  <!-- <small class="">
    <span class="verified">{{researchItem.status}}</span>
    {{researchItem.type}}
  </small> -->
  <div class="title heavy">{{researchItem.title}}</div>
  <div class="keywords">
    <strong>Keywords:</strong>
    {{researchItem.keywords}}
  </div>
  <div class="abstract mt-2 mb-3">
    <strong>Abstract</strong><br>
    {{researchItem.abstract}}
  </div>

  <div class="authors d-flex justify-content-between">
    <div class="d-flex flex-row gap-1">
      <div class="float-left" style="margin: auto 0;" *ngFor="let author of authors">
        <img class="profile-icon" src="{{ author.photoUrl }}">
      </div>
    </div>
    <div>
      <small class="date">{{researchItem.published}}</small>
    </div>
  </div>
</div>
