* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  
  &__outer {
    background-color: $bg-color;
  }

  &__inner {
    min-width: 100%;
  }
}