<div class="card-list">
  <div class="card-list__title title">
    <span class="skeleton-loader mb-2" style="width: 400px;"></span>
    <span class="skeleton-loader" style="width: 100px; height: 10px;"></span>
  </div>
  <div class="card-list__contributor">
    <span class="skeleton-loader" style="width: 80px; height: 12px;"></span>
  </div>
  <div class="card-list__date"></div>
  <div class="card-list__action"></div>
  <div class="card-list__status">
    <span class="skeleton-loader" style="width: 100px; height: 12px;"></span>
  </div>
</div>