<div class="your-works p-3">
  <div class="works-header">
    <p>Project(s)</p>
    <button class="btn btn__primary" data-toggle="modal" data-target="#createProjectModal">New project</button>
  </div>
  <div class="works-container">
    <div class="list-header list ">
      <div class="list__title">Title</div>
      <div class="list__contributor">Contributor(s)</div>
      <div class="list__date"></div>
      <div class="list__action"></div>
      <div class="list__status">Status</div>
    </div>
    <app-works-items *ngFor="let repository of yourRepositories; let i = index" [workId]="repository.projectId"
      [workItem]="repository"></app-works-items>
    <div class="empty-state" *ngIf="yourRepositories.length === 0">
      No project yet
    </div>
  </div>
</div>
<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLongTitle">Create Project</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
          data-dismiss="modal" aria-label="Close" height="20px" class="close-btn">
          <path fillRule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clipRule="evenodd" />
        </svg>
      </div>
      <div class="modal-body">
        <form #projectForm="ngForm">
          <div class="form-floating mb-3">
            <input [(ngModel)]="projectModel.title" #title="ngModel" name="title" type="email" class="form-control"
              style="font-size: 0.8rem;" id="floatingTitle" placeholder="name@example.com" required>
            <label for="floatingTitle" *ngIf="!hasError(title) && !title.errors?.touched">Project Title</label>
            <label class="message__error" for="floatingTitle" *ngIf="hasError(title) && title.errors?.required">Title is
              required</label>
          </div>
          <div class="divider">
            <div class="form-floating">
              <select [(ngModel)]="projectModel.type" name="type" #type="ngModel" class="form-select"
                id="floatingSelect" aria-label="Floating label select example">
                <option value="Developmental" selected>Developmental</option>
                <option value="Qualitative">Qualitative</option>
                <option value="Quantative">Quantative</option>
                <option value="Mixed">Mixed</option>
              </select>
              <label for="floatingSelect">Type</label>
            </div>
            <div class="form-floating">
              <select [(ngModel)]="projectModel.college" name="college" #college="ngModel" class="form-select"
                id="floatingSelect" aria-label="Floating label select example">
                <option>Select a college</option>
                <option value="CIE" selected>CIE</option>
                <option value="CIT">CIT</option>
                <option value="CE">CE</option>
              </select>
              <label for="floatingSelect">College</label>
            </div>
          </div>
          <div class="form-floating">
            <select [(ngModel)]="projectModel.validator" name="validateor" #validator="ngModel" class="form-select"
              id="floatingSelect" aria-label="Floating label select example">
              <option selected>Select a validator</option>
              <option value="Juan Dela Cruz">Juan Dela Cruz</option>
              <option value="Juan Luna">Juan Luna</option>
              <option value="Tom Cruz">Tom Cruz</option>
            </select>
            <label for="floatingSelect">Validator</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn__primary" [disabled]="!projectForm.valid || processing"
          (click)="createProject()">Create</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>