<div class="document-content">
  <div class="wrapper p-3">
    <div class="document-content title">
      <div class="d-flex navigation">
        <button class="comment-btn">Read comments</button>
        <p>
          <span (click)="closeDocument()">Explore</span> > {{documentObject.title}}
        </p>
      </div>
      <label>{{documentObject.type}}</label>
      <h4>{{documentObject.title}}</h4>
      <div class="author">
        <p>{{documentObject.author}}</p>
        <p>{{documentObject.keywords}}</p>
        <p>Evaluated by {{documentObject.evaluator}}</p>
        <p>{{documentObject.published}}</p>
      </div>
    </div>
  </div>
  <main class="p-3">
    <span class="content-title">Abstract</span>
    {{documentObject.abstract}}
    <span class="content-title">Introduction</span>
    {{documentObject.abstract}}
    <span class="content-title">Background of the Study</span>
    {{documentObject.abstract}}
    <span class="content-title">RRL</span>
    {{documentObject.abstract}}
    <span class="content-title">Methods</span>
    {{documentObject.abstract}}
  </main>
</div>