<div class="d-flex justify-content-center p-3" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="document" *ngIf="!loading">
  <div class="head-navigation">
    <p class="back" (click)="closeDocument()">Explore</p>
    <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fillRule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clipRule="evenodd" />
    </svg>
    <p class="title">{{documentObject.title}}</p>
  </div>
  <main>
    <div class="wrapper">
      <div class="content-header">
        <div class="content-header__type completed">
          {{documentObject.type}}
        </div>
        <div class="content-header__author">
        
        </div>
      
      </div>
      
      <span class="content-title">Abstract</span>
      {{documentObject.abstract}}
      <span class="content-title mt-3">Introduction</span>
      {{documentObject.abstract}}
      <span class="content-title mt-3">Background of the Study</span>
      {{documentObject.abstract}}
      <span class="content-title mt-3">RRL</span>
      {{documentObject.abstract}}
      <span class="content-title mt-3">Methods</span>
      {{documentObject.abstract}}
      <span class="content-title mt-3">Methods</span>
      {{documentObject.abstract}}
    </div>
  </main>
</div>