.alert {
  background-color: white;
  position: fixed;
  right: 0;
  bottom: -10%;
  margin: 8px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  animation: animate 1s ease-out;
  
}