.btn {
  font-size: 0.855rem;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  
  &:hover {
    opacity: 0.9;
  }

  &__secondary {
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    padding: 0;
  }

  &__primary {
    background-color: $primary;
    color: white;

    &:hover {
      color: white;
    }
  }


  &__rounded {
    border-radius: 50px;
    padding: 0px 20px;
  }

  &__ghost {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
}

.close-btn {
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.icon-btn {
  cursor: pointer;
  
  svg {
    margin: auto;
    height: 25px;
  }
  
  &:hover {
    svg {
      color: $primary;
    }
  }
}