.btn {
  font-size: 12px;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  padding: 9px 12px;
  line-height: 1.3333;
  border-radius: 4px;
  
  &:hover {
    opacity: 0.9;
  }

  &__secondary {
    background-color: gray;
    border-radius: 50px;
  }
  
  &__secondary-1 {
    background-color: #1a73e80b;
    font-weight: 600;
    color: $primary;
  }

  &__primary {
    background-color: $primary;
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

    &:hover {
      color: white;
    }
  }


  &__rounded {
    border-radius: 50px;
    padding: 0px 20px;
  }

  &__ghost {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
  
  &__ghost {
    background-color: transparent;
    border: 1px solid rgb(160, 160, 175);
    color: $primary;
  }
}

.close-btn {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  
  &:hover {
    background-color: $gray;
  }
  
  svg {
    margin: auto;
  }
}

.dropdown {
  cursor: pointer;
}