.card {
  font-size: 0.85rem;
  cursor: default;
  margin: auto 15px;

  .title {
    margin: 8px 0;
    font-size: 1.2rem;
  }
  
  .keywords {
    font-size: 0.80rem;
    color: $black-1;
  }
  
  .abstract {
    line-height: 1.3rem;
  }
}

.document {
  overflow: hidden;
  background-color: white;

  main {
    height: 84vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0;

    .divider {

      &__right {
        display: flex;
        flex-direction: column;
        border-left: 1px solid $border-color;
      
        section {
          padding: 12px;
          border-bottom: 1px solid $border-color;
        }

        section {
          font-size: 0.80rem;

          .ongoing {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  .wrapper {
    padding: 10px;
    
    .content-header {
      display: flex;
      width: auto;
      flex-direction: column;
      
      &__type {
        width: fit-content;
      }
      
    
    }
  }

  .head-navigation {
    margin: 0px 8px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    height: auto;
    border-bottom: 1px solid $border-color;
    font-size: 0.8rem;

    svg {
      height: 20px;
      margin-top: 0;
    }

    .title {
      max-width: 50vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .back {
      cursor: pointer;
    }
  }

}

.card-list {
  background-color: white;
  padding: 15px;
  display: grid;
  grid-template-columns: 40% 30% 10% 10% 10%;
  font-size: 0.8rem;
  border-bottom: 1px solid whitesmoke;
  border-radius: 4px;

  &:hover {
    cursor: default;
    background-color: $primary-light;
  }

  &__status {
    display: flex;
    justify-content: right;
  }

  &__title {
    max-width: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 900px) {
  .document {
    .wrapper {
      padding: 8px;
    }  
    
    main {
      height: 75vh;
      overflow-y: auto;
    }
  }
  
  .card-list {
    border: 1px solid $border-color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    
    &:hover {
      background-color: white;
      box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    }

    &__title {
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__status {
      display: flex;
      padding-top: 8px;
      justify-content: left;
    }
  }
}

.card-list>* {
  margin: auto 0;
}


.member-list {
  display: flex;
  flex-direction: row;
  padding: 3px;

  .icon, p {
    margin: auto;
  }

  .icon {
    margin-right: 5px;
    height: 24px;
    border-radius: 50%;
  }

  p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.user-card {
  display: flex;
  flex-direction: row;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-top: 5px;
  padding: 8px;

  img {
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
  }

  svg {
    height: 28px;
    margin: auto 0;
    color: green;
  }
  
  small {
    font-weight: 600;
    color: gray;
    font-size: 8px;
  }

  strong {
    font-size: 0.80rem;
    margin: auto 0;
  }
}

.not-found {
  text-align: center;
  margin-top: 5px;
  font-size: 0.855rem;
}