.cards {
  border-radius: 5px;
  background-color: white;
  border: 1px solid $border-color;

  .head {
    font-size: 0.80rem;
    color: $black-1;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .keywords {
    font-size: 0.8rem;
  }

  .abstract {
    font-size: 0.855rem;
  }

  .authors {
    font-size: 0.8rem;
    .date {
      font-size: 0.8rem;
      margin: auto 0;
    }
  }
  
  .content-bg {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }
  
  .full-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border-radius: 5px;
    
    svg {
      height: 24px;
      cursor: pointer;
    }
  }
}

.btn-cards {
  border: 1px solid $border-color;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 0.81rem;
  
  .selected {
    color: red;
  }
}