.form-floating {
  font-size: 0.82rem;

  label {
    margin-top: 0.3rem;
  }

  .form-control {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid $bg-color;
    border-radius: 0;
  }
}

.input-container {
  padding: 9px 0px;
  width: auto;
  border-radius: 4px;
  margin: 0px 15px;

  svg {
    margin: auto 0;
    height: 24px;
  }

  input {
    border: none;
    width: 100%;
    margin: auto 8px;
    padding: 3px;
    background-color: transparent;
  }
}

input {
  outline: none;
  font-size: 0.82rem;
}

.filter {

  button {
    border: none;
    background-color: transparent;
    font-size: 0.82rem;
  }

  ul {
    padding: 3px 0px;

    li {
      font-size: 0.80rem;
    }
  }

}

.form-select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid $bg-color;
  border-radius: 0;
  font-size: 0.82rem;
  
  &:focus {
    border-bottom: 1px solid $bg-color;
  }
}

.search-container {
  width: 100%;
  background-color: $bg-color;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
    
  svg {
    height: 20px;
    margin: auto 5px;  
  } 
   
  input {
    border: none;
    width: 100%;
    background-color: transparent;
  }
}