.form-floating {
  font-size: 12px;

  label {
    margin-top: 0.2rem;
    font-size: 0.82rem;;
  }

  .form-control {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
    border: 1px solid $bg-color;
    border-radius: 3px;
  }
}

.input-container {
  padding: 9px 0px;
  width: auto;
  border-radius: 4px;
  margin: 0px 15px;

  svg {
    margin: auto 0;
    height: 24px;
  }

  input {
    border: none;
    width: 100%;
    margin: auto 8px;
    padding: 3px;
    background-color: transparent;
    font-size: 12px;
  }
}

input {
  outline: none;
  font-size: 11px;
}

.ghost-input {
  border: none;
  width: 100%;
  border: 0px solid lightgray;
  padding-top: 5px;
  word-break: break-all;
}

.filter {
  button {
    border: none;
    background-color: transparent;
    font-size: 0.82rem;
  }

  ul {
    padding: 3px 0px;

    li {
      font-size: 0.80rem;
    }
  }

}

.form-select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  border: 1px solid $bg-color;
  border-radius: 0;
  font-size: 0.82rem;

  select {
    outline: 0px !important;
    -webkit-appearance: none;
  }

  &:focus {
    border: 1px solid whitesmoke;
  }
}

.search-container {
  width: 100%;
  background-color: $bg-color;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;

  svg {
    height: 20px;
    margin: auto 5px;
  }

  input {
    border: none;
    font-size: 0.8rem;
    width: 100%;
    background-color: transparent;
  }
}

span {
  cursor: pointer;
}

.search-bar {
  display: flex;
  padding: 8px;
  margin: 15px;
  background-color: #f2f2f2bb;
  border-radius: 4px;
  justify-content: space-between;
  width: 50%;
  
  input {
    background: none;
    border: none;
    margin: auto 8px;
    width: 100%;
  }
  
  svg {
    color: gray;
    height: 22px;
    margin: auto 0;
  }
  
  div {
    margin-right: 0px;
  }
}

@media screen and (max-width: 900px) {
  .search-bar {
    width: 95%;
  }
}