.message {
    &__error {
        color: red;
    }
}

.empty-state {
    display: flex;
    width: 100%;
    margin: auto;   
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 0.855rem;
    
    &__button {
        color: $primary;
        font-weight: 600;
        border: 1px solid $primary;
        background-color: #0d4b9c07;
    }
}