.message {
    &__error {
        color: red;
        font-size: 0.82rem;
    }

    &__instructions {
        background-color: $bg-color;
        padding: 8px;
        border-radius: 3px;
        font-size: 00.82rem;
    }
}

.empty-state {
    display: flex;
    width: 100%;
    margin: auto;   
    font-size: 0.855rem;
    justify-content: center;
    padding-top: 5px;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
        
    svg {
        margin: 15px;
        margin-bottom: 0px;
        color: $black-1;
        height: 150px;
    }
    
    &__button {
        color: $primary;
        font-weight: 600;
        border: 1px solid $primary;
        background-color: #0d4b9c07;
    }
    
    p {
        margin: 0px;
    }
}

.loading-state {
    display: flex;
    justify-content: center;
    
    img {
        height: 30px;    
    }
}

.confirmation-modal {
    
}