.modal {
  button {
    float: right;
  }
  .modal-title {
    p {
      margin: 0;
    }
    small {
      font-weight: 500;
    }  
  }
  
  .section-title {
    font-size: 0.82rem;
    margin-bottom: 10px;
  }
  
  .modal-dialog {
    min-width: 60%;
  }

  .divider {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .divider>* {
    margin: 0px;
  }

  .modal-footer {
    border: none;
    width: 100%;  
  }
  
  .modal-header {
    font-size: 1.15rem;
    font-weight: 600;
    border-bottom: 1px solid $border-color;
    span {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .btn {
      width: 100%;
    }
  }
}


#addUserModal {

  button {
    width: 100%;
  }
  .modal-dialog {
    margin: auto;
  }

  .modal-header {
    padding: 10px 15px;
  }

  .modal-content {
    max-width: 70%;
    margin: auto;
  }

  @media screen and (max-width: 1000px) {
    .modal-content {
      max-width: 97%;
    }
  }
}