.navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;

  p {
    margin: auto 0;
    cursor: pointer;
  }
  
  svg {
    height: 23px;
    margin: auto 5px;
  }

  .nav-title {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
  }

}