<div class="explore-document" *ngIf="!loading">
    <header class="p-3">
      <div class="navigation-header small">
        <p class="back" (click)="closeDocument()">Explore</p>
        <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fillRule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clipRule="evenodd" />
        </svg>
        <p class="title">{{documentObject.title}}</p>
      </div>
  
      <div class="title-section">
        <div class="small mb-2 d-flex w-auto">
          <span class="border-r">{{ documentObject.type }} </span>
          <span>{{ documentObject.keyword }}</span>
        </div>
        <h4>{{ documentObject.title }}</h4>
  
        <div class="d-flex flex-row">
          <div class="evaluated-card small border-0">
            
          </div>
          <div class="author" *ngFor="let member of members">
            <img src="{{ member.photoUrl }}" height="20px" class="rounded-circle">
            <label class="small">{{ member.name }}</label>
          </div>
          <div class="evaluated-card small">
            <label>Evaluated by {{ documentObject.evaluator }}</label>
          </div>
          <div class="evaluated-card ml-2 small">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" height="20px">
              <path fillRule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clipRule="evenodd" />
            </svg> -->
            <label>Published {{ documentObject.published }}</label>
          </div>
        </div>
  
      </div>
    </header>
  
    <main>
      <div class="NgxEditor__Wrapper border-0" style="overflow: auto;">
        <ngx-editor [editor]="editor" [(ngModel)]="documentObject.metaData" [disabled]="true"
          [placeholder]="''"></ngx-editor>
      </div>
    </main>
  
  </div>

  <div class="d-flex justify-content-center p-3" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>